{% extends 'myapp/base.html' %}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/friends.css' %}" />
{% endblock %}

{% block header-title %}
<h1>友達</h1>
{% endblock %}

{% block content %}

<form method="GET" action="{% url 'friends' %}">
    <input type="text" name="q" placeholder="Search friends" value="{{ query }}">
    <button type="submit">Search</button>
</form>

<div class="friends_list">
    <ul>
        {% for data in user_data %}
            <li class="user-card">
                {% if data.user.image %}
                    <img src="{{ data.user.image.url }}" alt="Profile Image">
                {% endif %}
                <div>
                    <a href="{% url 'talk_room' data.user.id %}">{{ data.user.username }}</a><br>
                    <small>{{ data.latest_message }}</small><br>
                    <small>{{ data.timestamp|date:"Y-m-d H:i" }}</small>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}